# dot files
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

# macOS files
.DS_Store
__MACOSX__

# User-specific uVision files
*.opt
*.uvopt
*.uvoptx
*.uvgui
*.uvgui.*
*.uvguix.*

# 禁止 TouchGFX 生成的临时以及仿真文件
/TouchGFX/build
/TouchGFX/config
/TouchGFX/generated/fonts/cache
/TouchGFX/generated/simulator
/TouchGFX/generated/texts/cache
/TouchGFX/simulator

